<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transfer money to you buddy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/custom.css">
</head>
<body>
<!-- Menu Home Transfer Profile Contact Log off -->
<div class="col-md-4">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/templates/transfer.html">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile.html">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Log off</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- Bouton Add connection -->
<button style="background-color: dodgerblue" onclick="window.location.href = '/contact'; ">Add a connection</button>
<br>
<br>

<!-- Formulaire transfert argent
<form method="post" action="/transfer">
    <label for="Email">Email:</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="transactionAmount">Amount:</label><br>
    <input type="text" id="transactionAmount" name="transactionAmount">
    <input type="submit" value="Pay">
</form>
-->


<br>
<br>

<!-- Formulaire simple transfert argent -->
<h4>Send Money</h4>
<form th:action="@{/transfer}" method="post">
    <!--
        <select id="email" name="email">
            <option th:each="email : ${buddyContacts}" th:value="${email}" th:text="${email}"></option>
        </select>
        -->

    <label for="email">Contact:</label><br>
    <input type="text" id="email" name="email"><br>



    <label for="transactionAmount">Amount:</label><br>
    <input type="text" id="transactionAmount" name="transactionAmount"><br>

    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description">
    <input type="submit" value="Pay">
</form>

<br>
<br>
<!-- Mes transactions  -->
<h4>My transactions</h4>

<table class="table table-striped" style="vertical-align: middle;">
    <thead>
    <!-- <tr style="background-color: darkgray; height: 80px; vertical-align: middle;"> -->
        <tr style="background-color: #74D36A">
            <!-- <th scope="col">Connections</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th> -->
            <th>Connections</th>
            <th>Description</th>
            <th>Amount</th>
         </tr>
    </thead>
    <tbody>
    <!-- <tr style="height: 40px; vertical-align: middle; th:each="transaction : ${transactions}"> -->
        <tr th:each="transaction : ${transactions}">
            <td th:text="${transaction.buddyEmail}"></td>
            <td th:text="${transaction.description}"></td>
            <td th:text="${transaction.transactionAmount}"></td>
        </tr>
    </tbody>

</table>


<!-- Affichage de la pagination -->




</body>
</html>
